.tooltip {
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  visibility: hidden;
  transition: visibility 0.5s, opacity 0.2s linear;
  opacity: 0;
  justify-content: center;
  align-items: center;
}